.navbar img {
height: 60px;

}


.navbar a {
color: black

}



.jumbotron h1 {
color: black;

}

.jumbotron {
background-image: url(panel3.jpeg);
background-size:cover;
background-position: center;

}
