.navbar img {
height: 60px;

}


.navbar a {
color: black

}


.jumbotron h1 {
color: black;

}

.jumbotron {
background-image: url(panel3.jpeg);
background-size:cover;
background-position: center;

}

h6 {
    text-align: center;
}


h2 {
font-size: 16px;
text-align: center;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
}
